*{
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: initial;
	font-size: 20px;
}

.navbar-brand img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 80px;
}

#nav-bar {
	margin-bottom: 10px;

	
}

.navbar {
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	padding: 0 !important;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	font-weight: 600;
	color: #fff !important;
}

ul li {
	list-style: none;
}

.active {
	background-color:gray;
}

#banner {
	background-image: linear-gradient(to right, #a517ba, #5f1782);
	padding: 5% 0;
	color: #fff;
}

.input-group {
	width: 200px;
}

.promo {
	margin-top: 100px;
	font-size: 30px;
	font-weight: 600;
}

.col-md-6 img {
	height: 240px;
	border-radius: 20px;
}


/*---left column----*/
.close {
	font-size: 24px;
	color: #000;
}

/*-- countdown clock---*/
.jumbotron .count {
	background: #262626;
	text-align: center;
	width: 100%;
	

}

.count h3 {
	text-align: center;
	font-size: 1em;
	color: #fff;
	text-transform: capitalize;
	font-style: oblique;
}

#clock {
	display: flex;
	margin: 0 auto;
}

#clock div {
	position: relative;
	padding: 20px;
	margin: 0 5px;
	width: 50px;
	color: #fff;
	background: #262626;
	border: 2px solid #000;
}

#clock div:last-child {
	background: #e91e63; 
}

#clock div:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(255, 255, 255, .2); 
}

#clock div span {
	display: block;
	text-align:  center; 
}

#clock div span:nth-child(1) {
	font-size: 48px;
	font-weight: 800;
}

#clock div span:nth-child(2) {
	font-size: 18px;
	font-weight: 800;
	margin-top: -10px;
}

/*-------about us--------*/
#about {
	margin-top: 7%;
}

.card {
	background-color: #efefef;
	margin-bottom: 5px; 
}

.card:hover {
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
	margin-bottom: 5px;
	transition: 0.6s
}

h2 {
	text-align: center;
	padding-bottom: 20px;
}

h2::after {
	content: '';
	background-color: #000;
	height: 3px;
	width: 200px;
	margin: 0 auto;
	display: block;
}

/*.attendance p {
	margin-bottom:0;
}

.progress-bar {
	border-radius: 16px;
}

.progress {
	border-radius: 16px !important;
	margin-bottom: 10px;
}
*/

/*-----services------*/
#service {
	margin-top: 7%;
}

#service .container {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	url(../img/study.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #efefef !important;
	padding-bottom: 18%;
	padding-top: 20px;
	text-align: center;
}

.icon {
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	color: #9e7e;
}

#service p {
	color: #ccc;
}

#service .col-md-3:hover {
	background-color: #007bff;	
	transition: 0.7s;
	cursor: pointer;
}

/*--- schools ---*/
#school {
	margin-top: 7%;
	background-color: #ddd;
	padding: 5px;
}

#school ul {
	margin: auto;
	box-shadow: 0 0 10px 10px #aaa;
	padding: 20px;
}

#school li {
	color: #a517ba;
	padding: 5px;
	font-size: 25px;
}

#school ul:hover {
	box-shadow: 0 0 10px 10px #bbb;
}



/*-----management section-----*/
#mgt {
	margin-top: 7%;
	background-color: #ddd;
}

.profile-img {
	margin-top: 20px;
}

.profile-img .img-container {
	opacity: 1;
	display: block;
	position: relative;
}

.profile-img .img-container img {
	filter: grayscale(0);
	height: 122px;
	width: 122px;
	border-radius: 5px;
}

.profile-img .img-container img:hover {
	filter: grayscale(1);
	cursor: pointer;
}

.profile-img h4 {
	color: #007bff !important;
	font-size: 20px;
	font-weight: bold; 	
}

#mgt span {
	color: #333;
	font-size: 17px;
}

#mgt .fab {
	height: 20px;
	width: 20px;
	color: #007bff !important;
	background-color: #fff;
	padding: 4px;
	border-radius: 50%;
}

.img-container ul {
	opacity: 0;
	position: absolute;
	z-index: 1;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
}

.img-container:hover ul li {
	padding: 5px;
	display: inline-block;
}

.img-container:hover ul {
	opacity: 1;
}

.img-container ul, .img-container ul li {
	transition: 0.5s;
}


/*-----testimonials-----*/
#user {
	margin-top: 7%;
}

#user .row {
	margin-top: 20px;
}

#user .col-md-4 {
	margin: 30px auto;
}

.profile {
	padding: 40px 10px 10px;
	background-color: #efefef;
}

#user img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.profile img {
	border: 5px solid #fff;
	left: calc(50% - 40px);
	position: absolute;
	top: -50px;
}

.profile h5 {
	color: #007bff;
	font-size: 20px;
}

.profile:hover {
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: 0.5s;
}

#user span {
	color: #333;
	font-size: 17px;
}

blockquote {
	font-size: 20px;
	line-height: 15px;
	
}

blockquote::before {
	content: "\201C";
	color: #007bff;
	position: relative;
	font-size: 2em;
	top: 10px;
}

blockquote::after {
	content: "\201D";
	color: #007bff;
	position: relative;
	font-size: 2em;
	top: 10px;
}


/* --- contact ---*/
#contact .container {
	background-color: #efefef;
	color: #777;
}

.contact-form {
	padding: 15px;
}

.get-us {
	padding: 5px;
}
.contact-us {
	background-color: #fff;
	padding: 5px;
	margin: 10px;
}

.contact-us .fas {
	color: #007bff; 
	font-weight: bold;
	margin: 10px;
}

/*---counter----*/
#counter .container {
	background-image: linear-gradient(rgba(49,0,255, 0.8), rgba(132,5,39,0.8));
	background-size: cover;
	background-position: center;
}

.counter-body {
	color: #fff;
	text-align: center;
}

.counter-body .counter {
	margin: 0;
	font-size: 40px;
}

.icon-box {
	margin: 20px auto;
	height: 60px;
	width: 60px;
	border: 1px solid #fff;
	transform: rotate(45deg); 
}

.icon-box .fas {
	color: #ffc800;
	font-size: 40px;
	transform: rotate(-45deg); 
}

/* ----footer-----*/
footer {
	background-color:#5f1782;
	color: #fff;
}

